.logo {
    margin-top: 0px;
}
.mean-container a.meanmenu-reveal {
    top: -51px;
}
.slider-content p{
    width: 100%;
}
.single-course{
    margin: 10px;
}
.single-brand-logo h4{
   color: #00a651
}
.single-brand-logo{
    border-right: 1px solid #00a651;
}
.single-blog .blog-content-wrap span{
    top: 0;
}
.single-brand-logo p{
    padding-right: 5px;
}
.single-blog .blog-content-wrap{
    background-color: rgba(169,169,169,0.4);
}
.event-active-2 .single-event-2 .event-content {
    background-color: rgba(169,169,169,0.4);
}
.event-area.default-overlay:before {
    opacity: 0.7;
}
.footer-widget .footer-title h4{
    display: inline-block;
}
@media screen and (min-width:768px){
    .logo_width{
        width: 100px;
    }
    .my-height{
        height: 585px;
    }
}
@media screen and (max-width:767px){
    .logo_width{
        width: 50px;
    }
    .my-height{
        height: 500px;
    }
}
